# Python Pandas

Pandas stands for panel data and is the core library for data manipulation and data analysis
It consists of single and multiple dimensional data structures for data manipulation

### Python data structures
Single dimensional, Multi dimensional

### Pandas Series Object
Series object is one dimensional labeled array

In [1]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
type(s1)

pandas.core.series.Series

In [3]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
# Series Object from Dictionary

import pandas as pd
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

In [5]:
import pandas as pd
pd.Series({'a':10,'b':20,'c':30},index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [6]:
# Extracting individual values

import pandas as pd
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1[8]

9

In [7]:
s1[:8]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [8]:
s1[-8:]

1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

## Basic Math operations on Series

In [9]:
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [10]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10,20,30,40,50,60,70,80,90])
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [11]:
# Pandas dataframe

#  Dataframe is a two dimensional labelled data structure
# A dataframe comprises of rows and column

In [12]:
# Creating a dataframe

import pandas as pd
pd.DataFrame({"Name":["Md","Ahoj","AKD","Jack","Dan"],"Marks":[87,88,91,86,85]})

   Name  Marks
0    Md     87
1  Ahoj     88
2   AKD     91
3  Jack     86
4   Dan     85

## Dataframe in-Built function

In [13]:
import pandas as pd
iris = pd.read_csv("../input/iris-dataset/iris.csv")

In [14]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [16]:
iris.shape

(150, 5)

In [17]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
iris.iloc[4:8,1:3]

   sepal_width  petal_length
4          3.6           1.4
5          3.9           1.7
6          3.4           1.4
7          3.4           1.5

In [19]:
import pandas as pd
iris = pd.read_csv("../input/iris-dataset/iris.csv")
iris.drop([1,2,4],axis=0)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

In [20]:
import pandas as pd
iris = pd.read_csv("../input/iris-dataset/iris.csv")
iris.mean()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [21]:
iris.median()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [22]:
iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [23]:
iris.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object